/* reset */
*{margin:0; padding:0}
body{ background-color: #ffffff; }
body, div, section,
ul, li, dl, dt, dd, ol,
h1, h2, h3, h4, h5, h6, p,
header, footer{
  margin:0; padding:0;
  font-family:'맑은 고딕';
  font-size: 16px;
  line-height: 2;
  color:#333333;
  letter-spacing: -1.6px;
  }
ul, li, dl, dt, dd, ol { list-style: none;}
a{ text-decoration: none;
   color: #333333;}
   a:hover{ color: #0066ad; }
img{ display: block;
     border: none; }
/* 보조칼라 #30a3f3 */


/* common */
.container{ width: 1200px; margin:0 auto; }
.clear:after{ content:""; display: block; clear: both; }
.rel{ position: relative; }
.abs{ position: absolute; }
.fix{ position: fixed; }
.disB{ display: block; }
.disN{ display: none; }
.disI{ display: inline-block; }
.fl{ float: left; }
.fr{ float: right; }

.red{ border-bottom: 1px solid red !important; }

#gnb .d1{ font-size: 18px; font-weight: bold;
          line-height: 50px; padding-left: 40px;
          margin-bottom: 15px; }
#gnb .d2{ background-color: black; display: none;
          left: 0; top: 100%; width: 100px;
          padding: 10px 15px;
          }
#gnb .d2 a{ font-size: 12px; line-height: 2.4;
            color: white;
            }

#gnb li:nth-child(1) .d2{ left: 28px;}
#gnb li:nth-child(2) .d2{ left: 28px;}
#gnb li:nth-child(3) .d2{ left: 32px;}
#gnb li:nth-child(4) .d2{ left: 30px; width: 60px;}
#gnb li:hover .d2{ display: block; }


#gnb a, #gnb img{ display: block; }


header#hd{ padding: 15px 15px 0 15px; }
